# Cargo Stuff
target/

# Mac OS
**/.DS_Store

# Python
**/.venv/
**/venv/
**/__pycache__/
**/.ipynb_checkpoints/

build
dist
*.egg-info*

# Envs
**/*.env

# IDE
.idea/
.vscode/

# UV
uv.lock
.python-version
