# Cargo Stuff
target/

# Mac OS
**/.DS_Store

# Python
**/.venv/
**/venv/
**/__pycache__/
**/.ipynb_checkpoints/
**/*.so
**/*.whl
**/*.pyc

build
dist
*.egg-info*

# Envs
**/*.env

# IDE
.idea/
.vscode/

# UV
uv.lock
.python-version

# Pytest
.pytest_cache

# Ruff
.ruff*
.ruff_cache

# Test Assets
test-files/
**/*.tsv

# Profiling
profile.json*

# Taskfile
.task/
